@media screen and (max-width: 767px) {
  table.responsive {
    border: 0;
  }

  table.responsive thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.responsive tr {
    border-bottom: 2px solid #ddd;
    display: block;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
  }

  table.responsive td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table.responsive td::before {
    /*
		* aria-label has no advantage, it won't be read inside a table
		content: attr(aria-label);
		*/
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table.responsive td[data-label-normal]::before {
    font-weight: normal;
  }

  table.responsive td[data-label-upper]::before {
    text-transform: uppercase;
  }

  table.responsive td:last-child {
    border-bottom: 0;
  }
}
